# Ignore everything by default
*

# Allow the .gitignore file itself
!.gitignore

# Allow the rendu_Anouar_Mohamed directory and all its contents
!rendu_Anouar_Mohamed/
!rendu_Anouar_Mohamed/**

# Ignore pycache inside the allowed folder
**/__pycache__/
**/*.py[cod]
**/*$py.class
**/.DS_Store
