# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# OS Files
.DS_Store
.DS_Store?
ehthumbs.db
Thumbs.db

# Editors and IDEs
.idea/
.vscode/
*.swp
*.swo

# Temporary log files
*.log
