[MASTER]
load-plugins=pylint_odoo

[MESSAGES CONTROL]
# Disable some checks that are often too noisy or not applicable to Odoo
disable=
    C0114, # missing-module-docstring
    C0115, # missing-class-docstring
    C0116, # missing-function-docstring
    W0104, # pointless-statement (often used in Odoo for related fields)
    R0903, # too-few-public-methods

[REPORTS]
output-format=colorized
reports=no
